/* Default CSS Code */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:focus * {
  outline: 0;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: 0;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geomanist";
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
  color: #000000;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #53565a;
  vertical-align: middle;
}

a:hover {
  text-decoration: none;
}

input {
  width: 100%;
  height: 100%;
  background: #fff;
  border: transparent;
}

::-webkit-input-placeholder {
  color: #808080;
}
::-moz-placeholder {
  color: #808080;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #808080;
}
:-moz-placeholder {
  color: #808080;
}

.font--12 {
  font-size: 12px;
  line-height: 20px;
}

.font--14 {
  font-size: 14px;
  line-height: 22px;
}

.font--16 {
  font-size: 16px;
  line-height: 24px;
}

.font--18 {
  font-size: 18px;
  line-height: 28px;
}

.font--24 {
  font-size: 24px;
  line-height: 32px;
}

.font--28 {
  font-size: 28px;
  line-height: 36px;
}

.font--48 {
  font-size: 48px;
  line-height: 64px;
}

/* Default CSS Code */

/* 

font-family: "Geomanist";

*/

body {
  font-family: "Geomanist";
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  background: #fff;
  /* color: #53565a; */
  color: #231f20;
}

/* Reusable CSS Code */

.container {
  max-width: 1232px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.object-contain {
  object-fit: contain;
}

.custom__btn {
  width: fit-content;
  min-width: 164px;
  height: 48px;
  background: #e3c57e;
  color: #000;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.custom__btn:hover {
  background: #e1bb63;
}

.custom__btn img {
  object-fit: contain;
  width: 24px;
  height: auto;
}

.custom__btn--outline {
  background: transparent;
  border: 1px solid #000;
}

.custom__btn--outline:hover {
  background: #e1bb63;
  border: 1px solid transparent;
}

.custom__btn--white {
  background: #f5f4f0;
  color: #25282a;
}

.custom__btn--white:hover {
  background: #e1bb63;
}

.section__heading h2 {
  text-align: center;
  color: #a8874f;
}

.line-section-heading {
  border-left: 1px solid #a8874f;
  padding-left: 25px;
  color: #a8874f;
}

.custom__accodion {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 48px;
}

.accordion__item {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  background-color: transparent;
  transition: all 0.3s;
  font-size: 22px;
  line-height: 36px;
  font-weight: 500;
  text-align: left;
  color: #000;
  position: relative;
}

.accordion__button span {
  flex: 1;
}

.accordion__icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.accordion__button--active .accordion__icon {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.accordion__content h4 {
  font-weight: 600;
}

.accordion__content-info {
  padding-top: 20px;
  padding-left: 20px;
}

.accordion__content-descs {
  margin-top: 15px;
}

.accordion__content-descs p {
  margin-bottom: 15px;
}

.accordion__content-descs p:last-of-type {
  margin-bottom: 0;
}

.bg--maroon {
  background: #4c1029 !important;
}

.bg--green {
  background: #1a1c07 !important;
}

.bg--yellow {
  background: #f5b122 !important;
}

.bg--blue {
  background: #00697f !important;
}

/* Reusable CSS Code */

/* Header Area */

.header__note {
  padding: 16px 20px;
  background: #000;
  position: relative;
}

.header__note p {
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.header__note-close-btn {
  width: 18px;
  height: auto;
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.header__sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d6d2c4;
  padding: 8px 80px;
}

.header__sub p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
}

.header__sub p img {
  width: 18px;
  height: auto;
}

.header__sub-btns {
  display: flex;
  align-items: center;
  gap: 46px;
  padding-right: 24px;
}

.header__sub-btn {
  width: 20px;
  height: auto;
}

.nav-area {
  padding: 16px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo,
.footer__logo {
  width: 250px;
  height: 49px;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar__links li a {
  padding: 28px 16px;
  font-size: 16px;
  line-height: 24px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.navbar__links li a:hover {
  color: #000;
  font-weight: 500;
}

.navbar__links--active {
  position: relative;
  background: #f5f4f0;
  color: #000;
  font-weight: 500;
}

.navbar__links--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #25282a;
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* Header Area */

/* Hero Area */

.hero-area {
  min-height: 800px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/gallery-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 88px;
}

.hero__logo {
  width: 584px;
  height: 308px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

.hero .custom__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
}

/* Hero Area */

/* About Area */
.about-area {
  overflow: hidden;
  position: relative;
  min-height: 700px;
  padding-top: 80px;
  padding-bottom: 80px;
  /* background: #f0ebe2; */
}

.about-area .container {
  position: relative;
  z-index: 50;
}

.about__bg-layer1,
.about__bg-layer2 {
  position: absolute;
  top: -60%;
  right: 0;
  width: 380px;
  height: 230%;
  background: rgba(210, 195, 166, 0.4);
  transform: rotate(55deg);
  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  -o-transform: rotate(55deg);
  z-index: 20;
}

.about__bg-layer1 {
  top: -46%;
  right: 2%;
  width: 230px;
  height: 100%;
  height: 100%;
  transform: rotate(-67deg);
  -webkit-transform: rotate(-67deg);
  -moz-transform: rotate(-67deg);
  -ms-transform: rotate(-67deg);
  -o-transform: rotate(-67deg);
}

.about {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}

.about__content {
  flex: 1;
}

.about__right {
  width: 100%;
  max-width: 601px;
}

.about-area h1 {
  margin-bottom: 40px;
  color: #a8874f;
  text-align: center;
}

.about h1 span {
  display: block;
}

.about__descs p {
  margin-bottom: 20px;
  color: #231f20;
}

.about__descs p:last-of-type {
  margin-bottom: 0;
}

.about__right .about__descs {
  margin-top: 30px;
}

.signature__image {
  width: fit-content;
  height: 60px;
  margin-top: 50px;
}

/* About Area */

/* Vineyards Area */
.vineyards-area {
  padding: 80px 0;
  background: #f7f5f1;
}

.vineyards {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 48px;
}

.vineyards__content {
  flex: 1;
}

.vineyards__content h3 {
  color: #a8874f;
}

.vineyards__content-descs {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.vineyards__images {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.vineyards__image1 {
  grid-column: 1 / span 2;
}

.vineyards__image {
  height: 280px;
}

/* Vineyards Area */

/* Product Area */
.product-area {
  padding: 80px 0;
}

.product__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 40px;
}

.product__item {
  padding: 35px;
  height: 350px;
  background: #f5f4f0;
}

.product__item img {
  object-fit: contain;
}

/* Product Area */

/* Faq Area */
.faq-area {
  padding: 80px 0;
  background: #f7f5f1;
}

/* Faq Area */

/* Gallery Area */
.gallery-area {
  padding: 80px 0;
}

.gallery {
  display: flex;
  gap: 30px;
}

.gallery__left {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.gallery__right {
  width: 100%;
  max-width: 400px;
}

.gallery__product-image {
  background: #f5f4f0;
  padding: 35px;
  height: 350px;
}

.gallery__product-image img {
  object-fit: contain;
}

.gallery__product-image1 {
  grid-column: 1 / span 2;
  background: #4c1029;
}

.gallery__product-image2 {
  background: #f5b122;
}

.gallery__product-image4 {
  height: 730px;
  background: #1a1c07;
}

/* Gallery Area */

/* Footer Area */
.footer-area {
  background: #000;
  padding: 60px 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.footer__logo {
  width: 250px;
  height: 49px;
}

.redirect-website,
.redirect-website:hover {
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
}

.footer p {
  color: #fff;
}

/* Footer Area */
